.container {
  position: relative;
  display: flex;
  gap: 20px;
  width: 100%;
}

.schedule {
  position: absolute;
  top: 50px;
  left: -315px; 
  flex-grow: 2;
  min-width: 600px; /* Reducido el tamaño mínimo */
  max-width: 900px; /* Reducido el tamaño máximo */
  width: 100%; 
  border-collapse: collapse;
}

.schedule th, .schedule td {
  border: 1px solid #000;
  padding: 8px;  /* Reducido el padding */
  text-align: center;
  font-size: 14px; /* Reducido el tamaño de la fuente */
}

.imagen img {
  position: absolute;
  left: -400px;
  top: 800px;
  width: 2030px; 
  height: 81px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: none;  
  -moz-appearance: textfield; 
  appearance: none;          
  margin: 0;                 
}

input[type="checkbox"] {
  -webkit-appearance: none;  
  -moz-appearance: none;    
  appearance: none;        
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;    
  background-color: #fff;    
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: #000; 
  border-color: #000;     
}

input[type="checkbox"]:checked::before {
  content: '✔';            
  position: absolute;
  top: 0.5px;
  left: 4.9px;
  color: white;           
  font-size: 12px;          
}

.check {
  position: absolute;
  top: 306px;
  left: 650px;
}

.check input {
  width: 20px;
  height: 20px;
}

.form-container {
  position: absolute;
  top: 48px;
  left: 780px;
  flex-shrink: 0;
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-top: 0;
}

.form-container input[type="text"], 
.form-container input[type="number"], 
.form-container textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.form-container button:hover {
  background-color: #555;
}

.notification {
  position: absolute;
  top: 735px;
  left: -318px;
  background-color: #ffffff;
  border: 1px solid #e2e0e0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.notification span {
  margin-right: 20px;
  font-weight: bold;
}

.notification button {
  background-color: #000; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.notification button:hover {
  background-color: #333;
}

.asignatura-cuadro {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px; /* Añadido margen inferior para separar del botón */
  padding: 5px 15px;
  border: 1px solid #ccc;
  background-color: #e9f7ef;
  border-radius: 5px;
  font-size: 12px;
  max-width: 450px;
  width: 100%;
  word-wrap: break-word;
}

.asignatura-cuadro .datos {
  flex: 1;
}

.asignatura-cuadro .horario {
  width: 100px;
  text-align: right;
}

.asignatura-cuadro h3 {
  font-size: 13px;
  margin: 0 0 3px 0;
}

.asignatura-cuadro p {
  font-size: 11px;
  margin: 2px 0;
}

.asignatura-cuadro ul {
  padding: 0;
  margin: 5px 0 0 0;
}

.asignatura-cuadro li {
  font-size: 10px;
  list-style-type: none;
  margin-bottom: 3px;
}
.clickable {
  cursor: pointer;
}